
#highscoreheader {
background: rgb(104, 104, 219);
}

body {
    background-color: rgb(254, 254, 235);
    height: 100vh;
    display: grid;
    place-items: center;
    margin: 0px;
    overflow: hidden;
}

main h1 {
    color: rgb(0, 0, 0);
    font-family: "Rubik", sans-serif;
    font-size: clamp(2em, 2vw, 4em);
    font-weight: 400;
    margin: 0px;
    padding: 20px;
    text-align:center;
}

main {
    width: 55%;
    height: 75;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    gap: 1rem;
    padding: 6rem 5rem;
    font-size: 120%;
    border: 1px solid #000000;
    border-radius: 10px;
    background-color: #dee7f5;
}

main div {
    text-align:center;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

button {
    background: rgb(161,239,241);
    border: 2px solid transparent;
}

* button:hover {
    border: 2px solid #000000;
}

#home button {
    font-size: 150%;
    border: 2px solid transparent;
}

#home button:hover {
    border: 2px solid #ea703b
}

.hidden {
    display: none;
}



#questions {
    display: flex;
    flex-direction: column;
}

.answerChoice {
    width: 200px;
}

.valid {
    background-color: green;
}

.invalid {
    background-color: red;
}

th {
    border-bottom: 1px solid black;
    border-radius: 0px;
}